<ion-view view-title="Icon Notification">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{image}}" onerror="this.src='img/nia.png'">
    <h2>{{title}}</h2>
    <p>{{message}}</p>
  </div>

  <div class="item item-body main-image">
    <img class="item-image" src="img/rl.png">
    <p>
      Icon Push Notification, Patch Upadte for Rocket League.
    </p>
    <button class="button button-block button-dark" ng-click="getBackToList()">
      List Notification
    </button>
  </div>

</div>
  </ion-content>
</ion-view>
